.row {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
}

.col {
  min-width: 250px;
  width: 100%;
  box-sizing: border-box;
}

.col-2 {
  margin: 0;
  padding: 0;
  max-width: 250px;
  box-sizing: border-box;
}
