.input-wrapper {
    margin-bottom: 2.4em;
    position: relative;

    ::placeholder {
        opacity: 0;
        transition: all .7s;
    }

    .label {
        position: absolute;
        bottom: 11px;
        left: 13px;
        opacity: 80%;
        pointer-events: none;
        transition: all .3s;
        font-size: 16px;
        width: 97%;
        background: var(--background-light);
    }

    .label-active {
        bottom: 33px;
        font-size: 14px;
        opacity: 80%;
        width: 50%;
        transition: all .3s;
    }

    .input {
        width: 100%;
        padding: 10px 15px;
        border: none;
        outline: none;
        border-bottom: 2px solid var(--secondary-light);
        box-sizing: border-box;
        border-radius: 1px;
        background: transparent;
        transition: all .2s;
        font-size: 15px;

        &.input-error {
            border-bottom: 2px solid #ff0000;
        }

        &:focus {
            outline: none;
            border-color: var(--primary);
            transition: all .2s;

            &::placeholder {
                opacity: 1;
                transition: all .1s;
            }
        }
    }

    .error-message {
        position: absolute;
        color: red;
        font-size: 14px;
        bottom: -37px;
    }
}