.email-senha {
    position: absolute;
    top: -.5em;
    left: .5em;
    z-index: 999;
}

.login-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    z-index: 997;
    background: var(--secondary-light2);

    .login-form {
        position: relative;
        padding: 50px;
        margin: 0 10px;
        border-radius: 8px;
        max-width: 600px;
        width: 100%;
        border: 1px solid var(--secondary-light);
        background: var(--background-light);
        box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;

        .logo-img {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 1em 0 2em 0;

            img {
                width: 290px;
                height: auto;
            }
        }

        .login-input {
            width: 300px;
            height: 40px;
            margin-bottom: 15px;
            padding: 5px;
            font-size: 16px;
        }

        .error-message {
            text-align: center;
            margin: -15px;
            font-size: 14px;
            width: 100%;
            color: red;
        }

    }

}

@media (max-width: 630px) {
    .login-container {

        .login-form {
            padding: 20px 20px 40px 20px;
            margin: 0 20px;
            border-radius: 3px;
            border: 2 solid var(--secondary-light);

            .logo-img {

                img {
                    width: 210px;
                    height: auto;
                }
            }

        }

    }
}