.search-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin: 1.6em auto;
  box-sizing: border-box;
  width: 100%;

  button {
    display: flex;
    align-items: center;
    border: none;
    padding: .7em 1em;
    font-size: 1.6em;
    cursor: pointer;
    border-radius: 2%;
    border: 2px solid var(--primary);
    color: #fff;
    background-color: var(--primary);
    box-shadow: rgba(0, 0, 0, 0.493) 1.95px 1.95px 2.6px;
    transition: all 0.3s;

    &:hover {
      opacity: 0.8;
    }
  }

  .input {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: start;
    box-sizing: border-box;
    margin-left: 20px;
  }

  .search {
    width: 100%;
    padding: 1em 2em 1em 3em;
    border: 2px solid var(--secondary-light);
    border-radius: 1%;
    transition: all 0.3s;
    box-shadow: rgba(0, 0, 0, 0.11) 1.95px 1.95px 2.6px;
    font-size: 18px;

    &::placeholder {
      font-size: 18px;
    }

    &:focus {
      outline: none;
      box-shadow: rgba(0, 0, 0, 0.212) 1.95px 1.95px 2.6px;
    }
  }

  .icon-search,
  .icon-close {
    position: absolute;
    transition: 0.3s ease;
    font-size: 28px;
    color: rgba(0, 0, 0, 0.356);
    top: 27%;
  }

  .icon-search {
    left: .7em;
  }

  .icon-close {
    right: .5em;
    cursor: pointer;
  }

  p {
    width: 100%;
    position: absolute;
    top: 400%;
    font-size: 25px;
    left: 50%;
    font-weight: 600;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 1000px) {
  .search-wrapper {
    margin: 2em auto;
  
    button {
      padding: .5em .6em;
      font-size: 1.4em;
    }
  
    .input {
      margin-left: 20px;
    }
  
    .search {
      padding: .5em 1em .5em 2em;
      border: 2px solid var(--secondary-light);
      border-radius: 1%;
      font-size: 18px;
  
      &::placeholder {
        font-size: 16px;
      }
    }
  
    .icon-search,
    .icon-close {
      font-size: 20px;
      top: 26%;
    }
  
    .icon-close {
      cursor: pointer;
    }
  
    p {
      font-size: 18px;
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}