.search-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin: 1.6em auto;
  box-sizing: border-box;
  width: 100%;

  button {
    display: flex;
    align-items: center;
    border: none;
    padding: .7em 1em;
    font-size: 1.6em;
    cursor: pointer;
    border-radius: 2%;
    border: 2px solid var(--primary);
    color: #fff;
    background-color: var(--primary);
    box-shadow: rgba(0, 0, 0, 0.493) 1.95px 1.95px 2.6px;
    transition: all 0.3s;

    &:hover {
      opacity: 0.8;
    }
  }

  .input {
    width: calc(100% - 6.3em);
    position: relative;
    box-sizing: border-box;
  }

  .search {
    width: calc(100% - 5em);
    margin-left: 1em;
    padding: 1em 2em 1em 3em;
    border: 2px solid var(--secondary-light);
    border-radius: 1%;
    font-size: 1em;
    transition: all 0.3s;
    box-shadow: rgba(0, 0, 0, 0.11) 1.95px 1.95px 2.6px;
    font-size: 18px;

    &::placeholder {
      font-size: 18px;
    }

    &:focus {
      outline: none;
      box-shadow: rgba(0, 0, 0, 0.212) 1.95px 1.95px 2.6px;
    }
  }

  .icon-search,
  .icon-close {
    position: absolute;
    transition: 0.3s ease;
    font-size: 28px;
    color: rgba(0, 0, 0, 0.356);
    top: 27%;
  }

  .icon-search {
    left: 2.7%;
  }

  .icon-close {
    right: 0;
    cursor: pointer;
  }

  p {
    position: absolute;
    top: 400%;
    font-size: 25px;
    left: 50%;
    font-weight: 600;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
  }
}